* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*網頁設定*/

body {
  margin: 0px;
  padding: 0px;
  background: url(http://210.70.80.111/107021034/login.jpg) center center fixed no-repeat;
  background-size: cover;
  background-color: rgb(255, 255, 255);
  font-family: "Courier New", Courier, monospace;
}

/*body設定*/

.register-container {
  padding: 4% 4%;
  background-color: rgba(163, 172, 163, 0.4);
  width: 60%;
  height: 60%;
  text-align: center;
  margin: 0px auto;
  margin-top: 5%;
  border-radius: 20px;
  -webkit-transition: all ls linear;
  -moz-transition: all ls linear;
  transition: all ls linear;
  position: relative;
}

/*表單容器設定*/

.done .register-form {
  display: none;
}

/*註冊表單設定*/

.register-container h1 {
  font-size: 30px;
  text-align: center;
  color: rgb(212, 34, 34);
}

/*文字設定*/

.register-container .register-form>div>input {
  border: 2px solid #dedede;
  padding: 10px;
  font-size: 15px;
  min-width: 70%;
  color: rgb(63, 79, 218);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  margin-bottom: 3px;
  outline: none;
  -webkit-transition: 0.2s linear;
  -moz-transition: 0.2s linear;
  transition: 0.2s linear;
}

/*input設定*/

.data-loading-btn {
  font-size: 1.25em;
  width: 150px;
  border-radius: 25px;
}

/*送出按鈕*/

.register-container .register-form>div>input:focus {
  border-color: rgb(247, 191, 158);
}

/*input點選時的邊框*/